body {
  height: 100%;
  width: 100%;
  background: #ffff;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: #e7b535 !important;
}

.highlightblue {
  color: #003059;
}
.highlightyellow {
  color: #e7b535;
}
.container {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.header-law {
  color: rgb(238, 238, 238);
  display: flex;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.logo {
  padding: 0;
  margin: 0;
}

.header-law {
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
  background: #00223f;
}

.logo img {
  height: 100px;
  width: 200px;
  margin: auto;
  display: block;
}
.logo-desc {
  font-size: 1.2rem;
  text-align: center;
  padding: 0.3em;
}
.operation {
  margin: auto;
  text-align: center;
}
.operation i {
  font-size: 2rem;
  padding: 0.3em;
}
.operation i:hover {
  color: #e7b535;
}
.header-contact {
  margin: auto;
  text-align: center;
}
/* Navbar */

.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.nav-menu {
  background: #1e5ba5;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-menu a {
  margin: 0;
  color: rgb(224, 224, 224);
  padding-left: 1em;
  padding-right: 1em;
}
.overlay {
  position: relative;
  text-align: center;
  color: white;
}
.profile-picture {
  height: 600px;
  width: 100%;
}
.hero {
  font-weight: 200;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eve {
  font-weight: 300;
  position: absolute;
  top: 75%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.title-law {
  font-weight: 250;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.3rem;
}
/* Services */

.services {
  width: 100%;
  background: #003059;
  display: flex;
}
.service-icon {
  color: white;
  text-align: center;
  padding: 3rem;
}
.service-icon h3 {
  font-weight: 300;
}
.service-icon i {
  color: #e7b535;
  font-size: 5rem;
}
.testimonials {
  width: 100%;
  background: #1e5ba4;
  height: 300px;
}
